/* default config  */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

/* reset css */

div,
span,
p,
pre,
a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 12px 0;
}

pre code.hljs {
    padding: 0 0 10px !important;
}
/* css */
h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(41, 38, 223);
}

textarea {
    min-height: 46px;
    min-width: 220px;
    width: 100%;
}

table .button-actions {
    white-space: initial;
}

.button-download {
    margin-top: 6px;
}

.button-actions img {
    border: 1px solid rgb(46, 44, 44);
    padding: 5px;
    border-radius: 3px;
}
.button-feature-group {
    padding: 10px 0 5px;
}

.button-feature-group button {
    margin-right: 10px;
    padding: 5px 3px;
    background-color: transparent;
    border-color: transparent;
}

.button-feature-group button[active="true"] {
    background-color: beige;
}

.button-feature-group button:active {
    box-shadow: 0px 4px 8px #ccc !important;
}

.import-place {
    padding-top: 10px;
}

.features-place button {
    margin-right: 10px;
    padding: 5px 3px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-color: transparent;
    background-color: transparent;
    transition: 0s 0.21s;
}
.features-place button:hover {
    cursor: pointer;
}

.features-place button:active {
    box-shadow: 0px 4px 8px #ccc !important;
    transition: 0s;
}

.button-actions {
    vertical-align: middle;
}

.content-notes {
    display: block;
    position: relative;
    min-height: 60px;
}
.content-notes img {
    position: absolute;
    top: -30px;
    right: 20px;
}

a:hover,
table img:hover,
button:hover,
.button-edit-main-content:hover {
    cursor: pointer;
}

table img[type="undo"]:hover {
    cursor: auto;
}

::-webkit-scrollbar {
    width: 6px !important;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(65, 61, 61, 0.6);
}

::-webkit-scrollbar-thumb :hover {
    background: rgba(117, 115, 115, 0.9);
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

a.github-cover {
    position: absolute;
    top: -22px;
    left: -8px;
    transform: rotate(270deg);
}

tr[isedit="true"] textarea {
    height: 280px;
}

.main-content textarea {
    min-height: 600px;
}

.main-content h3 {
    overflow: hidden;
    color: blue;
}

.main-content h3:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.main-content h3:after {
    margin-right: -50%;
}

/* css table */
.table-block {
    margin-top: 30px;
}
table {
    position: relative;
    width: 100%;
}
table,
th,
td {
    border: 1px solid;
    vertical-align: top;
}

th,
td {
    padding: 5px 10px;
    white-space: pre-wrap;
    min-height: 75px;
}

.note-th {
    text-align: left;
}

table thead tr th {
    background: #edf2f7;
    padding: 0.75rem 1.5rem;
    vertical-align: middle;
}

table tbody tr:nth-child(odd) td {
    background: #fff;
}
table tbody tr:nth-child(even) td {
    background: #edf2f7;
}

.column-stt {
    text-align: center;
    width: 30px;
}

.column-method {
    min-width: 260px;
}

.column-syntax {
    min-width: 420px;
}
.column-equal {
    min-width: 420px;
}
.column-description {
    min-width: 420px;
    width: 600px;
}

.column-actions {
    min-width: 80px;
    width: 80px;
}
table tr > th:nth-child(2),
table tr > td:nth-child(2) {
    position: sticky;
    left: 0;
}

/* stackblitz */

.open-stackblitz {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 2000;
    border: 2px solid rgb(224, 236, 114);
    padding: 2px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
}
.open-stackblitz.active {
    border: none;
    border-radius: unset;
    right: 25px;
    width: 55px;
    height: 55px;
}

.modal-stackblitz {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-stackblitz-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 100vw;
    height: 100vh;
}
.modal-stackblitz-content .stackblitz-iframe {
    border: unset;
    width: 100vw;
    height: 100vh;
}
