.button-feature-group {
    padding: 10px 0 5px;
}

.button-feature-group button {
    margin-right: 10px;
    padding: 5px 3px;
    background-color: transparent;
    border-color: transparent;
}

.button-feature-group button[active="true"] {
    background-color: beige;
}

.button-feature-group button:active {
    box-shadow: 0px 4px 8px #ccc !important;
}
.upload-file-section label {
    font-size: 0;
}

.features-localstorage {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 100px;
    gap: 22px;
    z-index: 4000;
    align-items: center;
}
.features-localstorage .upload-file-section {
    width: 58px;
    height: 58px;
}

.features-localstorage img {
    border-color: transparent;
    background-color: transparent;

    border-radius: 50%;
    border: 2px solid rgb(224, 236, 114);
    padding: 2px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.features-localstorage img:hover {
    border-color: purple;
}

.features-localstorage .timmer {
    font-size: 1.2rem;
    position: absolute;
    top: 35px;
    right: 80px;
    border-radius: 50%;

    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    z-index: 5000;
    color: white;
}
