.heading-method-group {
    min-height: 50px;
    position: relative;
}

.heading-method-group .btn-edit,
.content-notes .btn-edit {
    position: absolute;
    top: -8px;
    right: 16px;
}
.heading-method-group .heading-text textarea,
.content-notes .heading-text textarea {
    width: 95%;
    max-width: 95%;
    height: 30px;
    min-height: 50px;
    min-width: 60%;
    resize: vertical;
}
.heading-method-group .heading-text {
    margin: 0;
    padding: 18px 0;
}

.heading-method-group .heading-text,
.content-notes .heading-text {
    text-align: unset;
}
.content-notes .heading-text {
    min-height: 33px;
}

.heading-method-group .heading-text a,
.content-notes h2.heading-text a {
    text-align: center;
    display: block;
}

.heading-method-group .btn-edit {
    top: 8px !important;
}
