.heading-method-group {
    position: relative;
}
.heading-method-group .btn-edit,
.content-notes .btn-edit {
    position: absolute;
    top: -8px;
    right: 16px;
}
.heading-method-group .heading-text textarea,
.content-notes .heading-text textarea {
    width: 95%;
    max-width: 95%;
    height: 30px;
    min-height: 50px;
    min-width: 60%;
    resize: vertical;
}

.content-notes .heading-text {
    min-height: 33px;
    text-align: unset;
}

.content-notes h2.heading-text a {
    text-align: center;
    display: block;
}

.heading-method-group .heading-text {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-method-group .btn-edit {
    top: 0 !important;
}
