body {
    font-size: 1.8rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    margin-top: 0;
}

a.github-cover {
    position: fixed;
    top: -3px;
    left: -6px;
    transform: rotate(270deg);
    z-index: 3000;
}

a:hover,
table img:hover,
button:hover,
.button-edit-main-content:hover {
    cursor: pointer;
}
