body {
    font-size: 1.8rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    padding: 0 78px;
    margin: 0 !important;
}

a.github-cover {
    position: fixed;
    top: -3px;
    left: -6px;
    transform: rotate(270deg);
    z-index: 5000;
}

a:hover,
table img:hover,
button:hover,
.button-edit-main-content:hover {
    cursor: pointer;
}

* {
    scroll-behavior: smooth;
}

.button-edit-main-content,
.btn-edit {
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid transparent;
}

.button-edit-main-content:hover,
.btn-edit:hover {
    border-color: purple;
}

/* over-ride */
.hljs-comment {
    color: #bda6a1 !important;
}

a:hover {
    color: red !important;
}
