.table-block {
    width: 100%;
    border: 1px solid;
    font-size: 1.6rem;
}

.table-block table {
    position: relative;
    width: 100%;
    border: 1px solid;
    vertical-align: top;
}

.table-block table thead tr {
    position: sticky;
}

.table-block table thead tr td:first-child {
    min-width: 50px;
}

.table-block table tbody tr td:first-child {
    text-align: center;
}

.table-block table thead tr td:first-child img {
    right: 5px !important;
    text-align: start !important;
}

.table-block td {
    padding: 5px 10px;
    min-height: 75px;
    border: 1px solid;
    vertical-align: top;
}
.table-block thead tr {
    height: 50px;
}

/* css text area  */
.table-block table .crud-group textarea {
    min-height: 46px;
    min-width: 220px;
    width: calc(100% - 6px);
}

.table-block table tr.editing textarea {
    width: calc(100% - 6px);
    height: 95%;
    min-height: 200px;
    min-width: 220px;
}

/* disable cursor */
.table-block table img.undo:not(.active):hover {
    cursor: auto;
}
.table-block table img.save:not(.active):hover {
    cursor: auto;
}

/* row color */
.table-block tbody tr:nth-child(odd) td {
    background: #fff;
}

.table-block thead tr:nth-child(odd) td,
.table-block tbody tr:nth-child(even) td {
    background: #edf2f7;
}

/* table action */

.table-block table .button-actions {
    vertical-align: middle;
    white-space: initial;
}
.table-block table .button-actions img {
    border: 1px solid rgb(46, 44, 44);
    padding: 5px;
    border-radius: 3px;
}

/* fixed first colums table */
.table-block table tr > th:nth-child(2),
.table-block table tr > td:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 999;
}
.table-block table .button-actions img.edit:not(.active) {
    cursor: auto;
}

/* css row content */
.table-block table tbody h3 {
    margin: 0;
    margin-bottom: 3px;
}

.table-block table tbody tr td.cell column-2 > * {
    word-break: break-all;
}

/* another table */
table th,
table td {
    border: 2px solid gray;
    padding: 5px 10px;
}
table {
    border: 2px solid gray;
    width: 100%;
}
/* table */
table.rs-css,
table.rs-css th,
table.rs-css td {
    border: 2px solid gray;
    text-align: center;
}

table.rs-css td,
table.rs-css th {
    padding-right: 12px;
    padding-left: 12px;
}
